<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Favicon-->
        <link rel="shortcut icon" href="/img/fav.png">
        <!-- Author Meta -->
        <meta name="author" content="CodePixar">
        <!-- Meta Description -->
        <meta name="description" content="">
        <!-- Meta Keyword -->
        <meta name="keywords" content="">
        <!-- meta character set -->
        <meta charset="UTF-8">
        <!-- Site Title -->
        <title>ELEGENT Shop</title>
        <!--
            CSS
            ============================================= -->
        <link rel="stylesheet" href="/user/css/linearicons.css">
        <link rel="stylesheet" href="/user/css/font-awesome.min.css">
        <link rel="stylesheet" href="/user/css/themify-icons.css">
        <link rel="stylesheet" href="/user/css/bootstrap.css">
        <link rel="stylesheet" href="/user/css/owl.carousel.css">
        <link rel="stylesheet" href="/user/css/nice-select.css">
        <link rel="stylesheet" href="/user/css/nouislider.min.css">
        <link rel="stylesheet" href="/user/css/ion.rangeSlider.css" />
        <link rel="stylesheet" href="/user/css/ion.rangeSlider.skinFlat.css" />
        <link rel="stylesheet" href="/user/css/magnific-popup.css">
        <link rel="stylesheet" href="/user/css/main.css">
    </head>

    <html>